Germany
{
  display : block;
  font-family : Helvetica;
  color : #7A0019;
  background-color : #FDF5E6;
  }﻿
  
Poland
{
  display : block;
  font-family : Helvetica;
  color : #7A0019;
  background-color : #FDF5E6;
  }﻿
  
France
{
  display : block;
  font-family : Helvetica;
  color : #7A0019;
  background-color : #FDF5E6;
  }﻿
  
city
{
  color : #808080;
  font-family : "Helvetica", sans-serif;
}

date
  {
    color : #000000;
    font-family : "Helvetica", sans-serif;
    font-size : 14px;
    }

itinerary
{
  color : black;
  font-family : "Helvetica", sans-serif;
}
