body {
  font-family: "Helvetica", sans-serif;
}

h2 {
  color: #7A0019;
}

#contact {
  background-color: #4682B4;
  padding: 2%;
}

.newspaper {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.button {
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 250px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
